
    {%for comunicado in comunicados%}
     <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
     <div class="card mx-auto p-2" style="width: 15rem; height: 20rem;" id="Cartas">
        <div id="titulo"> <h5>{{comunicado.titulo}} </h5></div>
        <div id="departamento"> <h6>{{comunicado.entidad.nombre}}</h6></div>
         <div class="d-none d-sm-block">
         <div class="card-body"> 
          <p class="card-text"> {{comunicado.detalle}} </p>
         </div>
         </div>
         <div class="d-md-none">
         <div class="card-body">
             <p class="card-text">{{comunicado.detalle_corto}}</p>
         </div>
         </div>
      </div>
    </div>
    {%endfor%}
